<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Memory Book</title>
    <!-- Styles  -->
    <!-- Latest compiled and minified CSS -->
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <div class="row">
        <div class="gallery col-12">
            <div class="header">
                <p class=" text-center">Memory Book</p>
            </div>
            <div>
                <h5 id="message" class="text-center mt-4">
                    <%= message %>
                </h5>
            </div>
            <div class="posts-wrapper">
                <% if (posts.length> 0 ) { %>
                    <% posts.forEach((post)=> { %>
                        <div class="card" style="width: 18rem;">
                            <input type="hidden" value="<%= post._id %>" name="id">
                            <img src="<%= post.image %>" class="card-img-top" height='276px'>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%= post.title %>
                                </h5>
                                <p class="card-text">
                                    <%= post.desc %>
                                </p>

                                <div class="card-actions">
                                    <p style="margin-bottom:0px;font-size:12px;font-weight:semi-bold">
                                        <%= post.time.toLocaleDateString() %>
                                    </p>
                                    <div class="btn-group dropup">
                                        <?xml version="1.0"?>
                                        <svg id="more-btn" class="dropdown-toggle hover-shade" data-bs-toggle="dropdown"
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="20px"
                                            height="20px" x="0" y="0" viewBox="0 0 408 408"
                                            style="enable-background:new 0 0 512 512" xml:space="preserve">
                                            <g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                    <g id="more-icon">
                                                        <path
                                                            d="M204,102c28.05,0,51-22.95,51-51S232.05,0,204,0s-51,22.95-51,51S175.95,102,204,102z M204,153c-28.05,0-51,22.95-51,51    s22.95,51,51,51s51-22.95,51-51S232.05,153,204,153z M204,306c-28.05,0-51,22.95-51,51s22.95,51,51,51s51-22.95,51-51    S232.05,306,204,306z"
                                                            fill="#b6b6b6" data-original="#000000" />
                                                    </g>
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                                <g xmlns="http://www.w3.org/2000/svg">
                                                </g>
                                            </g>
                                        </svg>
                                        <ul class="dropdown-menu">
                                            <li onclick="shareHandler('post.title','post.desc')">Share</li>
                                            <li onclick="editHandler('<%= post._id %>')">Edit</li>
                                            <li onclick="deleteHandler('<%= post._id %>')">Delete</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }) } else { %>
                            <h3 class="text-center mt-5">No posts yet :(</h3>
                            <% } %>
            </div>

        </div>
    </div>

    <div id='uploadForm' class="form my-1 px-1 pb-4">
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-12">
                    <div class="row field  pt-1 g-4 align-items-center">
                        <div class="col-auto">
                            <label for="title" class="col-form-label">Title</label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="title" class="form-control" name="title">
                        </div>
                    </div>
                    <div class="row field pt-1 g-3 align-items-center">
                        <div class="col-auto">
                            <label for="desc" class="col-form-label">Desc</label>
                        </div>
                        <div class="col-9">
                            <input type="text" id="desc" class="form-control" name="desc">
                        </div>
                    </div>
                    <div class="row field pt-1 g-3 align-items-center">
                        <div class="col-auto">
                            <label for="time" class="col-form-label">Date</label>
                        </div>
                        <div class="col-9">
                            <input type="date" id="time" class="form-control" name="time">
                        </div>
                    </div>
                    <div class="row field pt-1 g-1 align-items-center">
                        <div class="col-auto">
                            <label for="image" class="col-form-label">Image</label>
                        </div>
                        <div class="col-9">
                            <input type="file" id="image" class="form-control" name="image">
                        </div>
                    </div>
                    <div class="row field pt-1 g-1 align-items-center">
                        <div class="col-12 text-center">
                            <button class="btn btn-primary">Upload</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <?xml version="1.0"?>
    <svg onclick="toggleForm()" id="upBtn" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        xmlns:svgjs="http://svgjs.com/svgjs" version="1.1" width="60px" height="60px" x="0" y="0"
        viewBox="0 0 490.667 490.667" style="enable-background:new 0 0 512 512" xml:space="preserve" class="">
        <g>
            <path xmlns="http://www.w3.org/2000/svg"
                d="M245.333,0C109.839,0,0,109.839,0,245.333s109.839,245.333,245.333,245.333  s245.333-109.839,245.333-245.333C490.514,109.903,380.764,0.153,245.333,0z"
                fill="#4c0661" data-original="#2196f3" class="" />
            <path id="upBtnFill" xmlns="http://www.w3.org/2000/svg"
                d="M267.968,82.219c-12.496-12.492-32.752-12.492-45.248,0L104.533,200.533  c-18.889,18.894-18.889,49.522,0,68.416c19.139,18.289,49.277,18.289,68.416,0l19.2-19.2v123.584  c0,29.455,23.878,53.333,53.333,53.333c29.455,0,53.333-23.878,53.333-53.333V249.749l19.2,19.2  c19.139,18.289,49.277,18.289,68.416,0c18.889-18.894,18.889-49.522,0-68.416L267.968,82.219z"
                fill="#fafafa" data-original="#fafafa" />
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
            <g xmlns="http://www.w3.org/2000/svg">
            </g>
        </g>
    </svg>





    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="js/home.js"></script>
</body>

</html>